.App {
  text-align: start;
}

header,
.finalState {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  display: flex;
  height: 50vh;
  background-color: azure;
}

.scoreZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 29%;
  margin-left: 10px;
  background-color: aquamarine;
}

h2 {
  margin-left: 10px;
  font-size: 1.5rem;
}

.gameZone {
  margin-left: 10px;
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-flow: wrap;
}

.info {
  display: flex;
  width: 50%;
  align-self: flex-end;
  order: 1;
  gap: 100px 25px;
  justify-content: center;
  background-color: aqua;
}

.info2 {
  display: flex;
  width: 48%;
  align-self: flex-end;
  order: 2;
  gap: 100px 25px;
  justify-content: center;
  background-color: rgb(90, 105, 247);
}

.gamerZone {
  order: 3;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40%;
  background-color: aqua;
  align-self: flex-end;
}

.compZone {
  order: 4;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 48%;
  height: 40%;
  background-color: rgb(90, 105, 247);
}

.gamer-choice,
.computer-choice {
  width: 10vw;
  height: 15vh;
}

.restartDiv {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.restartBtn {
  border-radius: 20px;
  width: 100px;
  height: 50px;
  background-color: rgb(224, 121, 73);
}

@media screen and (max-width: 900px) {
 header, h1 {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
  h2 {
    margin-left: 5px;
    font-size: 1.1rem;
  }
}
